body {
	font-family: Verdana;
	font-size: 18px;
	background-color: #0e83cd;
}

/* MAIN-CONTENT-DIV*/
#content {
	margin-top: 20px;
	margin-left:auto;
	margin-right:auto;
	width:500px;
}

/* SURVEY-BUTTON STYLING -- MAIN PAGE */
.surveybutton h2 {
	margin-bottom: 5px;
	margin-top: 5px;
}

.surveybutton {

	width: 500px;

	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 0px;
	margin-bottom: 10px;

	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;

	transition: all 0.3s;
	border: 3px solid #fff;
	color: #fff;
}

.surveybutton:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	transition: all 0.3s;
	content: '';
	position: absolute;
	z-index: -1;
}

.surveybutton:active, .surveybutton:hover {
	color: #0e83cd;
}

.surveybutton:active:after, .surveybutton:hover:after {
	width: 100%;
}

/* CLICK ON A BUTTON TO REMOVE THE REST */



/* STYLING THE SURVEY FORM */
.surveyquestions {
	padding: 20px;
}

